  <div 
   class="h-25 flex items-center absolute bottom-0 z-10 pr-8">
    <div class=" bottom-0 flex-initial">
      <img src="assets/images/Drinkly-1.png" alt="drinkly" class="h-20 sm:h-32 md:h-32 w-auto"/>
    </div>
  
    <div style="bottom: 1rem;" class="text-xs sm:text-lg md:text-lg flex-1">
      <p>drinkly.official@gmail.com</p>
      <p>Blah blah</p>
      <p>Caracas, Venezuela</p>
    </div>
  </div>


  
  
  <div
  class="w-48 sm:w-64 h-25 flex items-center absolute bottom-0 right-0"
  >
    <div class="flex flex-row space-x-10 mb-6 mt-6 sm:mt-10 sm:mb-10 h-8 sm:h-12">
      <a href="https://twitter.com/drinklyofficial" rel="noopener" target="_blank">
      <img
        src="assets/images/twitter2.png"
        alt="twitter"
        class="h-full cursor-pointer"
      />
      </a>
      <a href="https://www.facebook.com/Drinkly-102074918252515" rel="noopener" target="_blank">
      <img
        src="assets/images/facebook2.png"
        alt="facebook"
        class="h-full cursor-pointer"
      />
      </a>
      <a href="https://www.instagram.com/drinkly.official/" rel="noopener" target="_blank">
      <img
        src="assets/images/insta2.png"
        alt="instagram"
        class="h-full cursor-pointer"
      />
      </a>
    </div>
  </div>

