<div
  class="h-25 flex items-center"
  style="background-color: #f5f5f5; position: absolute; bottom: 0; width: 100%;"
>
  <div class="flex-initial object-contain h-32 pl-32 pr-10">
    <img src="assets/images/Drinkly-1.png" alt="drinkly" class="h-32" />
  </div>

  <div class="flex-1">
    <p class="text-sm">drinkly@gmail.com</p>
    <p class="text-sm">Blah blah</p>
    <p class="text-sm">Caracas, Venezuela</p>
  </div>

  <div class="flex flex-row space-x-10 pr-40 h-10">
    <img
      src="assets/images/instagram 1.png"
      alt="insta"
      class="h-full cursor-pointer"
    />
    <img
      src="assets/images/instagram 1.png"
      alt="insta"
      class="h-full cursor-pointer"
    />
    <img
      src="assets/images/instagram 1.png"
      alt="insta"
      class="h-full cursor-pointer"
    />
  </div>
</div>
