

<div class="flex bg-black fixed top-0 w-full z-10">
  <div class="ml-20 my-1">
  <a href="/"
    ><img
      src="assets/images/Drinkly-2.png"
      alt="logo_drinkly"
      class="object-scale-down h-16 transition duration-500 ease-in-out transform  hover:scale-110"
  /></a>  
  </div>
  
</div>
<div
  class="bg-gray-400 h-64 w-full flex items-center flex-col"
  style="
    background-image: url(assets/images/banner_drinkly.jpg);
    background-size: cover;
  "
>

  <div class="w-full flex justify-center items-center h-full">
    <div *ngIf="hasSearchBar" class="pt-2 relative mx-auto text-black w-44">
      <input
        autocomplete="off"
        style="width: 25rem; font-size: 1.4rem;"
        class="bg-white h-12 px-5 pr-20 rounded-full focus:outline-none"
        type="text"
        name="filterPost"
        id="search"
        placeholder="Busca por {{ searchBarContent }}"
        [(ngModel)]="filterPost"
        (ngModelChange)="makeChange()"
        (keydown.enter)="pressEnter()"
      />
      <button
        (click)="showDropForFilteringOp()"
        class="absolute right-0 top-0 mt-4 mr-4 focus:outline-none"
      >
      <img id="search2" *ngIf="hasFilter" class="h-8 rounded cursor-pointer" src="assets/images/filtro.png" alt="filterimg">
      </button>

      <div clickedOut (clickOutside)="showDrop()" *ngIf="touched" class="drop">
        <div id="coolB" (click)="newMessage(i.name)"  class="d" *ngFor="let i of arr | filter: filterPost: isDefault">
          <div class="d2">{{i.name}}</div>
        </div>
      </div>

      <div clickedOut (clickOutside)="showDropForFilteringOp()" *ngIf="filteringOptions" class="drop">
        <div id="coolB" (click)="sendChangedFilter(i)" class="d" *ngFor="let i of filterOp">
          <div class="d2">{{i}}</div>
        </div>
      </div>
  </div>
</div> 

