<div class="flex w-full">
  <app-navbar></app-navbar>
  <div class="pl-64 w-full">
    <div class="w-full">
      <app-header [hasSearchBar]="true" [searchBarContent]="'trago'"></app-header>
      <div class="w-full">        
          <div  *ngIf="!loading" class="flex flex-wrap -mx-2 pb-12">
            <div
              *ngFor="let x of drinks"
              class="w-1/4 px-2 rounded overflow-hidden my-2 border shadow rounded-lg"
            >
              <img
                class="w-full pl-16 pr-32 pt-16"
                src="{{ x.pictures }}"
                alt="Sunset in the mountains"
              />
              <div class="px-6 pl-16">
                <div
                  class="bg-white rounded-full px-3 py-1  font-semibold text-black text-xl mr-2"
                >
                  {{ x.name }}
                </div>
                <div
                  class="bg-white rounded-full px-3 py-1 text-sm text-grey-darker mr-2"
                >
                  {{ x.owner.name }}
                </div>
                <div
                  class="bg-white rounded-full px-3 py-1 text-sm text-grey-darker mr-2"
                >
                  {{ x.owner.category }}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>