<app-test-bar (message)="getMessage($event)"></app-test-bar> 

<div [ngStyle]="{'margin-left.rem': !sidebar? '0': '16'}" class="move">

  <app-admin-header></app-admin-header>
            <div
            class="h-20 w-full flex justify-center items-center pt-16"
            style="font-family: 'Open Sans', sans-serif;"
          >
            <div><h2 class="text-4xl">TUS DATOS</h2></div>
          </div>
          <div class="w-full flex justify-center items-center h-full pt-16">
            <form
              [formGroup]="form"
              class="w-2/4 content-center"
            >
              <div class="md:flex md:items-center mb-6">
                <div
                  class="md:w-1/5"
                  [ngClass]="{
                    'block text-red-500 font-bold md:text-right mb-1 md:mb-0 pb-6':
                      form.get('f_name').errors &&
                      (form.get('f_name').touched || form.get('f_name').dirty)
                  }"
                >
                  <label
                    class="block text-black-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                    for="inline-full-name"
                  >
                    Nombre
                  </label>
                </div>
                <div class="md:w-4/5">
                  <input
                    formControlName="f_name"
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-3 px-4 text-gray-700 leading-tight focus:border-orange-500 focus:outline-none focus:bg-white"
                    id="inline-full-name"
                    type="text"
                    placeholder="Nombre"
                    required
                  />
                  <span
                    class="text-red-500"
                    *ngIf="form.get('f_name').touched || form.get('f_name').dirty"
                  >
                    <span *ngIf="form.get('f_name').errors">
                      Este campo es obligatorio.
                    </span>
                  </span>
                </div>
              </div>
          
              <div class="md:flex md:items-center mb-6">
                <div
                  class="md:w-1/5"
                  [ngClass]="{
                    'block text-red-500 font-bold md:text-right mb-1 md:mb-0 pb-6':
                      form.get('l_name').errors &&
                      (form.get('l_name').touched || form.get('l_name').dirty)
                  }"
                >
                  <label
                    class="block text-black-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                    for="inline-full-name"
                  >
                    Apellido
                  </label>
                </div>
                <div class="md:w-4/5">
                  <input
                    formControlName="l_name"
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                    id="inline-full-name"
                    type="text"
                    placeholder="Apellido"
                    required
                  />
                  <span
                    class="text-red-500"
                    *ngIf="form.get('l_name').touched || form.get('l_name').dirty"
                  >
                    <span *ngIf="form.get('l_name').errors">
                      Este campo es obligatorio.
                    </span>
                  </span>
                </div>
              </div>
          
              <div class="md:flex md:items-center mb-6">
                <div
                  class="md:w-1/5"
                >
                  <label
                    class="block text-black-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                    for="inline-full-name"
                  >
                    Fecha de nacimiento
                  </label>
                </div>
                <div class="md:w-4/5">
                  <input
                    formControlName="birthday"
                    class="bg-gray-200 appearance-none outline-none rounded w-full py-3 px-4 text-gray-500 leading-tight"
                    type="text"
                    placement="right"
                    readonly
                    isAdult
                  />
                </div>
              </div>
          
              <div class="md:flex md:items-center mb-6">
                  <div
                    class="md:w-1/5"
                    [ngClass]="{
                      'block text-red-500 font-bold md:text-right mb-1 md:mb-0 pb-6':
                        form.get('email').errors &&
                        (form.get('email').touched || form.get('email').dirty)
                    }"
                  >
                    <label
                      class="block text-black-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                      for="inline-full-name"
                    >
                      Correo
                    </label>
                  </div>
                  <div class="md:w-4/5">
                    <input
                      formControlName="email"
                      class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                      id="inline-full-name"
                      type="email"
                      placeholder="Correo"
                      required
                    />
                    <span
                      class="text-red-500"
                      *ngIf="form.get('email').touched || form.get('email').dirty"
                    >
                      <span *ngIf="form.get('email').errors?.required">
                        Este campo es obligatorio.
                      </span>
                      <span *ngIf="form.get('email').errors?.email">
                        Agregue un formato de correo válido.
                      </span>
                    </span>
                  </div>
                </div>
          
              <div class="md:flex md:items-center mb-6">
                <div
                  class="md:w-1/5"
                  [ngClass]="{
                    'block text-red-500 font-bold md:text-right mb-1 md:mb-0 pb-6':
                      form.get('user_name').errors &&
                      (form.get('user_name').touched || form.get('user_name').dirty)
                  }"
                >
                  <label
                    class="block text-black-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                    for="inline-full-name"
                  >
                    Nombre de usuario
                  </label>
                </div>
                <div class="md:w-4/5">
                  <input
                    formControlName="user_name"
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                    id="inline-full-name"
                    type="text"
                    placeholder="Nombre de usuario"
                    required
                  />
                  <span
                    class="text-red-500"
                    *ngIf="form.get('user_name').touched || form.get('user_name').dirty"
                  >
                    <span *ngIf="form.get('user_name').errors">
                      Este campo es obligatorio.
                    </span>
                  </span>
                </div>
              </div>
          
              <div class="md:flex md:items-center mb-6">
                  <div class="md:w-1/3"></div>
                  <div class="flex space-x-4 justify-end md:w-2/3">
                    <button
                      (click)="editUser()"
                      class="md:w-1/4 shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                      type="button"
                      [disabled]="!form.valid"
                    >
                      Guardar
                    </button>
                    <button
                      (click)="goBack()"
                      class="md:w-1/4 shadow bg-orange-500 hover:bg-orange-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                      type="button"
                    >
                      Regresar
                    </button>
                  </div>
                </div>
          
          
            </form>
          </div>

          
          <div id="alRepeted" style="display: none;" class="px-5 pt-12 pb-12">
            <div class="bg-red-100 border border-red-300 text-red-700 pl-4 pr-8 py-3 rounded relative" role="alert">
                <strong class="font-bold">Error! </strong>
                <span class="block sm:inline">{{err}}</span>
              </div>
        </div>
          
                     
          <form [formGroup]="formP" class="w-2/4 content-center mx-auto pt-12">
              <div class="md:flex md:items-center mb-6">
          
                  <button
                  class="m-auto shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                  (click)="changeP()"
                >
                  Cambiar contraseña
                </button>
              </div>
          
              <div *ngIf="changingP" class="md:flex md:items-center mb-6">
                  <div
                    class="md:w-1/5"
                    [ngClass]="{
                      'block text-red-500 font-bold md:text-right mb-1 md:mb-0 pb-6':
                        formP.get('o_password').errors &&
                        (formP.get('o_password').touched || formP.get('o_password').dirty)
                    }"
                  >
                    <label
                      class="block text-black-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                      for="inline-full-name"
                    >
                      Contraseña actual
                    </label>
                  </div>
                  <div class="md:w-4/5">
                    <input
                      formControlName="o_password"
                      class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                      id="inline-full-name"
                      type="password"
                      placeholder="Ingrese su contraseña"
                      required
                    />
                    <span
                      class="text-red-500"
                      *ngIf="formP.get('o_password').touched || formP.get('o_password').dirty"
                    >
                      <span *ngIf="formP.get('o_password').errors">
                        Este campo es obligatorio.
                      </span>
                    </span>
                  </div>
              </div>
          
                <div *ngIf="changingP" class="md:flex md:items-center mb-6">
                  <div
                    class="md:w-1/5"
                    [ngClass]="{
                      'block text-red-500 font-bold md:text-right mb-1 md:mb-0 pb-6':
                        formP.get('n_password').errors &&
                        (formP.get('n_password').touched || formP.get('n_password').dirty)
                    }"
                  >
                    <label
                      class="block text-black-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                      for="inline-full-name"
                    >
                      Nueva contraseña
                    </label>
                  </div>
                  <div class="md:w-4/5">
                    <input
                      formControlName="n_password"
                      class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-orange-500"
                      id="inline-full-name"
                      type="password"
                      placeholder="Ingrese su nueva contraseña"
                      required
                    />
                    <span
                      class="text-red-500"
                      *ngIf="formP.get('n_password').touched || formP.get('n_password').dirty"
                    >
                      <span *ngIf="formP.get('n_password').errors">
                        Este campo es obligatorio.
                      </span>
                    </span>
                  </div>
                </div>
          
                <div class="md:flex md:items-center mb-6">
          
                  <button
                  *ngIf="changingP"
                  class="m-auto shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                  (click)="doChangeP()"
                  [disabled]="!formP.valid"
                >
                  Cambiar
                </button>
              </div>
          </form>
          
          <div id="al" style="display: none;" class="px-5 pt-12 pb-12">
              <div class="bg-red-100 border border-red-300 text-red-700 pl-4 pr-8 py-3 rounded relative" role="alert">
                  <strong class="font-bold">Error! </strong>
                  <span class="block sm:inline">Contraseña incorrecta.</span>
                </div>
          </div>
<app-footer></app-footer>
</div>
 
 
 
 



