
<app-test-bar (message)="getMessage($event)"></app-test-bar> 

<div [ngStyle]="{'margin-left.rem': !sidebar? '0': '16'}" class="move">

  <app-header hasSearchBar=true searchBarContent='nombre...' [arr]="drinksA" ></app-header>
  
  <div class="w-full" *ngIf="!loading">
    <div class="pt-12 pb-12 flex justify-center">
      <button
        (click)="goToFilter()"
        class="md:w-1/5 shadow bg-orange-500 hover:bg-orange-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        type="button"
      >
        Seleccionar ingredientes
      </button>
    </div>     

    <div class="w-full flex flex-col items-center mb-20 mt-10">
      <div class="drink_card">
        <div id="test" class="rounded overflow-hidden border-2 shadow-lg   hover:border-solid hover:border-orange-500 hover:border-opacity-75   transition ease-in duration-200" 
        *ngFor="let item of drinksA | filter: filterPost"    
        >
         <div class="drink_img"
          style="  background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative; "
          [style.backgroundImage]="'url('+ item.pictures +')'"
          >

            <div class="w-10 h-10 rounded-full  opacity-75 bg-white m-2 hover:bg-orange-300 transition ease-in duration-300">
              <div class="  rounded-full ">
                <img  class="p-1" src="https://i.ya-webdesign.com/images/5-star-icon-png-5.png" alt="">
              </div>
            </div>
            <!-- CAMBIAR A ORANGE CON CLICK -->
          </div>
         
          <div class="px-6 py-4">
            <div class="font-bold text-xl md:text-2xl mb-2"> <h1>{{ item.name }} </h1> </div>
              <p class="text-gray-700 text-lg mb-1">
                Autor: {{ item.owner.name }}
              </p>
              <p class="text-gray-700 text-lg">
                {{ item.owner.category }}
              </p>
            </div>
          </div>
        </div>
        <div style="font-family: 'Open Sans', sans-serif; width: 30%; font-size: medium;" *ngIf="(drinksA | filter: filterPost)?.length==0"
        class="m-auto"
        >
          <div style="height: 20rem;
          width: 85%; margin-left: 2.5rem; 
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url(assets/images/emptyGlass2.jpg);"
          >
          </div>
          <p style="padding-left: 5rem;">No se encontró ese trago...</p>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

</div>


