<app-test-bar (message)="getMessage($event)"></app-test-bar>
<div [ngStyle]="{'margin-left.rem': !sidebar? '0': '16'}" class="move" style="min-height: 25vh; font-family: 'Open Sans', sans-serif;">
    
    <div *ngIf="!loadingDrinks && !loadingUsers && !loadingBars">
        <!-- BARRA DEL MENÚ-->
        <div class="flex sticky top-0 bg-black w-full z-10">
            <div class="ml-20 my-1">
                <a href="/"
                  ><img
                    src="assets/images/Drinkly-2.png"
                    alt="logo_drinkly"
                    class="object-scale-down h-16 transition duration-500 ease-in-out transform  hover:scale-110"
                /></a>  
                </div>
        </div>
        <!-- BACKGROUND IMAGE-->
        <div class="w-full" style="font-family: 'Open Sans', sans-serif; min-height: 75vh; background-image: url(assets/images/about3.jpg);
            background-size: cover;  background-position: center; 
            ">
            <div id="header-about" class="w-full h-full" style="font-family: 'Open Sans', sans-serif;
                background-size: cover;  background-position: center; 
                ">
                <div class="w-full flex items-center content-center flex-wrap lg:pl-64 pl-12 sm:pl-24" style="min-height: 75vh;">
                    <div class="w-3/4 lg:w-1/3">
                        <div class="text-gray-400 text-2xl lg:text-4xl sm:text-3xl "><p>ACERCA DE NOSOTROS</p></div>
                        <div class="text-white text-4xl lg:text-6xl sm:text-5xl"><p>Impulsando el mundo de la coctelería</p></div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="flex content-center flex-wrap justify-center items-center" style="min-height: 20vh; font-family: 'Open Sans', sans-serif;">
            <div class="text-gray-900 flex content-center flex-wrap justify-center border-gray-700 text-5xl sm:text-6xl w-1/3  border-b-2">
                <p>DRINKLY</p>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="text-center text-gray-800 lg:text-5xl sm:text-4xl text-2xl w-4/5 md:3/5 lg:w-1/2">
                <p>Drinkly ayuda e impulsa a los entusiastas de la coctelería a experimentar con nuevas recetas</p>
            </div>
        </div>

        <div class="pt-8 w-full flex justify-center">
            <div class="text-center text-gray-700 lg:text-3xl text-xl sm:text-2xl w-4/5 md:3/5 lg:w-1/2" style="font-family: 'Roboto', sans-serif;">
                <p>En nuestra plataforma podrás encontrar una enorme variedad de tragos que podrás preparar desde la comodidad de tu hogar. Te ofrecemos el paso a paso y los ingredientes que vas a necesitar para que puedas degustarla.</p>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-3/4 border-gray-300 border-b-2" style="min-height:32px"></div>
        </div>
        <div class="w-full flex justify-center">
            <div class="w-3/4" style="min-height:32px"></div>
        </div>

        <div class="w-full flex justify-center font-black">
            <div class="lg:w-3/4 w-4/5 flex flex-wrap justify-center items-center">
                <div class="w-1/3 flex justify-center items-center num-about" >
                    {{this.users}}
                </div>
                <div class="w-1/3 flex justify-center items-center num-about" >
                    {{this.recipes}}
                </div>
                <div class="w-1/3 flex justify-center items-center num-about" >
                    {{this.bars}}
                </div>
            </div>
        </div>
        <div class="w-full flex justify-center">
            <div class="lg:w-3/4 w-4/5 flex flex-wrap justify-center items-center">
                <div class="w-1/3 text-center text-gray-700 text-2xl sm:text-3xl" style="min-height:10vh; font-family: 'Roboto', sans-serif;">
                    Usuarios registrados
                </div>
                <div class="w-1/3 text-center text-gray-700 text-2xl sm:text-3xl" style="min-height:10vh; font-family: 'Roboto', sans-serif;">
                    Recetas publicadas
                </div>
                <div class="w-1/3 text-center text-gray-700 text-2xl sm:text-3xl" style="min-height:10vh;font-family: 'Roboto', sans-serif;">
                    Bares asociados
                </div>
            </div>
        </div>
        <div class="w-full flex justify-center">
            <div class="w-3/4 border-gray-300 border-b-2" id="sep-div-about"></div>
        </div>
        <div class="w-full flex justify-center">
            <div class="w-3/4" style="min-height:32px"></div>
        </div>

        <!--REDES SOCIALES-->
        <div class="pt-12 w-full flex justify-center">
            <div class="text-center text-gray-800 text-2xl sm:text-4xl lg:text-5xl w-3/4 md:w-1/2">
                <p>¡SÍGUENOS!</p>
            </div>
        </div>

        <div class="pt-8 w-full flex justify-center">
            <div class="w-4/5 md:w-3/4 flex flex-wrap justify-center items-center">
                <div class="w-1/3 flex justify-center items-center" style="font-size:10rem">
                <a href="http://www.w3c.org/" target="_blank" class="a_socialmedia">
                    <img
                        src="assets/images/twitter1.png"
                        alt="insta"
                        class="h-full cursor-pointer"
                    />
                </a>
                </div>
                <div class="w-1/3 flex justify-center items-center" style="font-size:10rem">
                <a href="http://www.w3c.org/" target="_blank" class="a_socialmedia">
                    <img
                        src="assets/images/facebook1.png"
                        alt="insta"
                        class="h-full cursor-pointer"
                        style="width: auto"
                    />
                </a>
                </div>
                <div class="w-1/3 flex justify-center items-center" style="font-size:10rem">
                <a href="http://www.w3c.org/" target="_blank" class="a_socialmedia">
                    <img
                        src="assets/images/insta1.png"
                        alt="insta"
                        class="h-full cursor-pointer"
                    />
                </a>
                </div>
            </div> 
        </div>

        <div class="w-full flex justify-center">
            <div class="w-3/4 border-gray-300 border-b-2" style="height:64px"></div>
        </div>
        <div class="w-full flex justify-center">
            <div class="w-3/4"  style="height:32px"></div>
        </div>

        <!--ASOCIARSE-->
        <div class="pt-12 w-full flex justify-center">
            <div class="text-center text-gray-800 sm:text-4xl lg:text-5xl text-2xl w-4/5 lg:w-1/2">
                <p>¿QUIERES QUE PUBLIQUEMOS TU NEGOCIO?</p>
            </div>
        </div>

        <div class="pt-12 w-full flex justify-center">
            <button
                (click)="postBusiness()"
                class="w-1/3 lg:w-1/5 sm:w-1/4 shadow bg-orange-500 hover:bg-orange-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                >
                SÍ
            </button>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-3/4" style="height:12px"></div>
        </div>

        <div class="w-full flex justify-center pt-4">
            <div class="text-center text-gray-800 md:text-2xl sm:w-1/3 md:w-3/5 w-4/5 sm:text-xl text-lg " style="font-family: 'Roboto', sans-serif;">
                <p>Puedes comunicarte con nosotros a través de este enlace para cualquier otra inquietud también</p>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-3/4" style="height:48px"></div>
        </div>



    </div>

    <div *ngIf="loadingBars || loadingDrinks || loadingUsers">
        <app-header></app-header>
        <app-loader></app-loader>
        <app-footer></app-footer>
    </div>
    

   <!--
    <div style="font-family: 'Open Sans', sans-serif;"> 

        <div
            class="h-20 w-full flex justify-center items-center pt-12 pb-12"
            style="font-family: 'Open Sans', sans-serif;"
        >
            <div><h2 class="text-4xl">¿QUIERES QUE PUBLIQUEMOS TU NEGOCIO?</h2></div>
        </div>

        <div class="w-full flex justify-center items-center h-full">
            <div
                class="w-2/3 md:w-2/4 content-center"
                encType="multipart/form-data"
            >
                <div class="w-full flex space-x-4 justify-center">
                    <button
                    (click)="postBusiness()"
                    class="w-1/3 shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    >
                        Formar parte
                    </button>
                </div>
            </div>
        </div>

    </div>

    <button class="back_btn" (click)="goBack()">
      <img class="p-3" src="assets/images/goback.png" alt="" >
    </button>
    -->

    <app-footer></app-footer>

</div>
