<app-test-bar (message)="getMessage($event)"></app-test-bar> 

<div [ngStyle]="{'margin-left.rem': !sidebar? '0': '16'}" class="move">
    <app-header></app-header>

    <div *ngIf="loading">
        <app-loader></app-loader>
    </div>
    <div *ngIf="!loading" class="h-full w-full">
        <div class="h-full w-full px-16 py-16">
            <!-- PRESENTACION -->
            <div  class="sm:flex md:flex justify-center px-8 sm:px-32 md:px-64 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
              <div class="flex justify-center items-center w-2/3">
                <div class="flex justify-center">
                <img
                src="assets/images/Drinkly-1.png"
                alt="logo_drinkly"
                class="object-contain"/>  
                </div>
                
              </div>
                <div class="flex items-center py-8 sm:py-16 md:py-16">
                  <div>
                  
                  <div class="flex text-gray-800 lg:text-5xl sm:text-4xl text-2xl pb-4">
                      <p>Drinkly ayuda e impulsa a los entusiastas de la coctelería a experimentar con nuevas recetas</p>
                  </div>
                  <div class="flex text-gray-700 lg:text-3xl text-xl sm:text-2xl" style="font-family: 'Roboto', sans-serif;">
                      <p>En nuestra plataforma podrás encontrar una enorme variedad de tragos que podrás preparar desde la comodidad de tu hogar. Te ofrecemos el paso a paso y los ingredientes que vas a necesitar para que puedas degustarla.</p>
                  </div> 
                   
                  </div>
                  
                </div>
            </div>
            <!-- FIN PRESENTACION -->

            <!-- PREPARALO TU MISMO -->
            <div class="h-full w-full">
                <div class="flex justify-center">
                  <div class="w-full flex justify-center">
                    <div class="w-3/4 border-gray-300 border-b-2" style="min-height:32px"></div>
                </div>
                </div>
                <div class="flex px-8 sm:px-48 md:px-64 py-4 pt-8 text-2xl sm:text-4xl md:text-5xl font-semibold">
                  PREPÁRALO TÚ MISMO
                  <div class="flex items-center justify-center px-2 sm:px-8 md:px-8">
                    <a href="/drinks" class="hover:no-underline">
                        <div class="text-lg text-center sm:text-xl md:text-xl no-underline py-1 px-8 bg-orange-500 hover:bg-orange-400 text-white rounded">Ver más
                        </div>
                    </a>
                  </div>
                </div>
                <!-- DRINK CARDS -->
                <div class="w-full flex flex-col items-center mb-20 mt-10">
                  <div class="drink_card">
                    <div  class="rounded overflow-hidden border-2 shadow-lg   hover:border-solid hover:border-orange-500 hover:border-opacity-75   transition ease-in duration-200" 
                    *ngFor="let item of showDrinks"   
                    >
                    
            
                     <div class="drink_img"
                      style="  background-position: center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      position: relative; "
                      [style.backgroundImage]="'url('+ item.pictures +')'"
                      (click)="detailDrink(item._id)"
                      >

                      
            
                        
                        <!-- CAMBIAR A ORANGE CON CLICK -->
                      </div>
                     
                      <div (click)="detailDrink(item._id)" class="px-6 py-4">
                        <div class="font-bold text-xl md:text-2xl mb-2"> <h1>{{ item.name }} </h1> </div>
                          <p class="text-gray-700 text-lg mb-1">
                            Autor: {{ item.owner.name }}
                          </p>
                          <p class="text-gray-700 text-lg">
                            {{ item.owner.category }}
                          </p>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                
                <!-- FIN DRINK CARDS -->
                <div class="flex justify-center pb-12">
                    <div (click)="addDrink()" class="text-gray-900 hover:text-orange-500">
                    <div class="flex h-24 sm:h-32 md:h-32 justify-center">
                      <svg class="fill-current h-1/4 w-1/4" version="1.1"  xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                        style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                          <path d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.853,256-256S397.167,0,256,0z M256,472.341
                                                      c-119.275,0-216.341-97.046-216.341-216.341S136.725,39.659,256,39.659S472.341,136.705,472.341,256S375.295,472.341,256,472.341z
                                                      " />
                        </g>
                        <g>
                          <path
                            d="M355.148,234.386H275.83v-79.318c0-10.946-8.864-19.83-19.83-19.83s-19.83,8.884-19.83,19.83v79.318h-79.318
                                                      c-10.966,0-19.83,8.884-19.83,19.83s8.864,19.83,19.83,19.83h79.318v79.318c0,10.946,8.864,19.83,19.83,19.83
                                                      s19.83-8.884,19.83-19.83v-79.318h79.318c10.966,0,19.83-8.884,19.83-19.83S366.114,234.386,355.148,234.386z" />
                        </g>
                      </svg>
            
                    </div>
                    <div>
                      <div class="flex justify-center">¿Tienes una receta?</div>
                      <div class="flex justify-center">Compártela con nosotros</div>
                    </div>  
                    </div>
                    
                  </div>
            </div>
            <!-- FIN DE PREPARALO TU MISMO -->

            <!-- ADS -->
            <div>
              <div class="flex justify-center">
                <div class="w-full flex justify-center">
                  <div class="w-3/4 border-gray-300 border-b-2" style="min-height:32px"></div>
              </div>
              </div>
              <div class="px-8 sm:px-48 md:px-64 py-4 pt-8 text-2xl sm:text-4xl md:text-5xl font-semibold">DISFRUTA POR MENOS</div>
              <!-- ADS CARDS -->
              <div class="w-full flex flex-col items-center mb-20 mt-10">
                <div class="ad_card">
                  <div
                    class="rounded overflow-hidden border-2 shadow-lg transition"
                    *ngFor="let item of adsA">
                    <div class="ad_img" style="  background-position: center;
                                          background-repeat: no-repeat;
                                          background-size: cover;
                                          position: relative; " [style.backgroundImage]="'url('+ item.promo_img +')'">
            
                    </div>
                  </div>
                </div>
              </div>
              <!-- FIN BAR CARDS -->

              <div class="flex justify-center pb-12">
                <div (click)="addAdvertisement()" class="w-auto text-gray-900 hover:text-orange-500">
                <div class="flex h-24 sm:h-32 md:h-32 justify-center">
                  <svg class="fill-current h-1/4 w-1/4" version="1.1"  xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                      <path d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.853,256-256S397.167,0,256,0z M256,472.341
                                                  c-119.275,0-216.341-97.046-216.341-216.341S136.725,39.659,256,39.659S472.341,136.705,472.341,256S375.295,472.341,256,472.341z
                                                  " />
                    </g>
                    <g>
                      <path
                        d="M355.148,234.386H275.83v-79.318c0-10.946-8.864-19.83-19.83-19.83s-19.83,8.884-19.83,19.83v79.318h-79.318
                                                  c-10.966,0-19.83,8.884-19.83,19.83s8.864,19.83,19.83,19.83h79.318v79.318c0,10.946,8.864,19.83,19.83,19.83
                                                  s19.83-8.884,19.83-19.83v-79.318h79.318c10.966,0,19.83-8.884,19.83-19.83S366.114,234.386,355.148,234.386z" />
                    </g>
                  </svg>
        
                </div>
                <div>
                  <div class="flex justify-center">¿Tu bar tiene una promoción?</div>
                  <div class="flex justify-center">Compártela con nosotros</div>
                </div>  
                </div>
                
              </div>
          </div>
          <!-- FIN ADS -->

            <!-- BARES DE CARACAS -->
            <div>
                <div class="flex justify-center">
                  <div class="w-full flex justify-center">
                    <div class="w-3/4 border-gray-300 border-b-2" style="min-height:32px"></div>
                </div>
                </div>
                <div class="flex px-8 sm:px-48 md:px-64 py-4 pt-8 text-2xl sm:text-4xl md:text-5xl font-semibold">
                  DISFRUTA DE CARACAS
                  <div class="flex items-center justify-center px-2 sm:px-8 md:px-8">
                    <a href="/bars" class="hover:no-underline">
                        <div class="flex items-center text-lg text-center sm:text-xl md:text-xl no-underline py-1 px-8 bg-orange-500 hover:bg-orange-400 text-white rounded">Ver más
                        </div>
                    </a>
                  </div>
                </div>
                <!-- BAR CARDS -->
                <div class="w-full flex flex-col items-center mb-20 mt-10">

                    <div class="bar_card">
            
            
                      <div class="rounded overflow-hidden border-2 shadow-lg   hover:border-solid hover:border-orange-500 hover:border-opacity-75   transition ease-in duration-200" 
                       *ngFor="let item of showBars"
                       
                       >
                        <div (click)="detailBar(item._id)" class="bar_img"
                        style="  background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                position: relative; "
                                [style.backgroundImage]="'url('+ item.main_image +')'">
            
                        </div>
                        <div (click)="detailBar(item._id)" class="px-6 py-4">
                          <div class="font-bold text-xl md:text-2xl mb-2"> <h1>{{ item.name }} </h1> </div>
                          <p class="text-gray-700 text-lg mb-1">
                            {{ getZone(item.location.zone) }}
                          
                        </div>
                    </div>
            
                    </div>
            
                  </div>
                <!-- FIN BAR CARDS -->
            </div>
            <!-- FIN BARES DE CARACAS -->
        </div>
    </div>

    <app-footer></app-footer>    
</div>
