.drink_card {

    width: 95%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    gap: 1rem;
/* Medium (md) */
@media (min-width: 768px) { 
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 90%;
    gap: 2.5rem;
 }
/* Large (lg) */
@media (min-width: 1024px) { 
    
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 75%;
    gap: 2.5rem;
 }




}


.drink_img{

    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  /* Medium (md) */
  @media (min-width: 768px) { 
      
   }
  /* Large (lg) */
  @media (min-width: 1024px) { 
      
      
  }
  
  
  }

  .move{
    transition: all .5s;
}

#check:checked ~ .move{
    margin-left: 16rem;
}

.bar_card {

    width: 95%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    gap: 1rem;
/* Medium (md) */
@media (min-width: 768px) { 
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 90%;
    gap: 2.5rem;
 }
/* Large (lg) */
@media (min-width: 1024px) { 
    
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 75%;
    gap: 2.5rem;
 }




}


.bar_img{

    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  /* Medium (md) */
  @media (min-width: 768px) { 
      
   }
  /* Large (lg) */
  @media (min-width: 1024px) { 
      
      
  }
  
  
  }