#navbar {
  height: 20rem ;
  // padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.5s; /* Adds a transition effect when the padding is decreased */
}

#logo {
  transition: 0.4s;
  padding-left: 0;
}


#lema {
  color: white;
  transition: 0.4s;
  padding-left: 5%;
  padding-right: 1%;
}


.drink_card {

    width: 95%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    // padding-right: 1.5rem;
    // padding-left: 1.5rem;
    gap: 1rem;
/* Medium (md) */
@media (min-width: 768px) { 
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 95%;
    gap: 2rem;
 }
/* Large (lg) */
@media (min-width: 1400px) { 
    
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 75%;
    gap: 2.5rem;
 }




}


.drink_img{

    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  /* Medium (md) */
  @media (min-width: 768px) { 
    height: 25rem;

   }
  /* Large (lg) */
  @media (min-width: 1024px) { 
    height: 25rem;
      
  }
  
  
  }

  .move{
    transition: all .5s;
}

#check:checked ~ .move{
    margin-left: 16rem;
}





.bar_card {

    width: 95%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    // padding-right: 2.5rem;
    // padding-left: 2.5rem;
    gap: 1rem;
/* Medium (md) */
@media (min-width: 768px) { 
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 95%;
    gap: 2rem;
 }
/* Large (lg) */
@media (min-width: 1400px) { 
    
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 75%;
    gap: 2.5rem;
 }




}


.bar_img{

    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  /* Medium (md) */
  @media (min-width: 768px) { 
      
    height: 25rem;

   }
  /* Large (lg) */
  @media (min-width: 1024px) { 
      
    height: 25rem;

  }
  
  
  }


  .ad_card {

    width: 95%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    // padding-right: 2.5rem;
    // padding-left: 2.5rem;
    gap: 1rem;
/* Medium (md) */
@media (min-width: 768px) { 
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 90%;
    gap: 2.5rem;
 }
/* Large (lg) */
@media (min-width: 1024px) { 
    
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 75%;
    gap: 2.5rem;
 }




}


.ad_img{

    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: flex-end;
  /* Medium (md) */
  @media (min-width: 768px) { 
      
   }
  /* Large (lg) */
  @media (min-width: 1024px) { 
      
      
  }
  
  
  }