<app-test-bar (message)="getMessage($event)"></app-test-bar> 

<div [ngStyle]="{'margin-left.rem': !sidebar? '0': '16'}" class="move">

  <app-admin-header></app-admin-header>

  <div class="w-full" *ngIf="!loading">

   

        <div class="w-full flex flex-col items-center mb-20 mt-10">

        <div class="bar_card">


          <div class="rounded overflow-hidden border-2 shadow-lg   hover:border-solid hover:border-orange-500 hover:border-opacity-75   transition ease-in duration-200" 
           *ngFor="let item of barsAv"
           
           >
            <div (click)="detail(item._id)" class="bar_img"
            style="  background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative; "
                    [style.backgroundImage]="'url('+ item.main_image +')'">

            </div>
            <div (click)="detail(item._id)" class="px-6 py-4">
              <div class="font-bold text-xl md:text-2xl mb-2"> <h1>{{ item.name }} </h1> </div>
              <p class="text-gray-700 text-lg mb-1">
                {{ getZone(item.location.zone) }}
              
            </div>
        </div>

        </div>

      </div>
    </div>
  


<app-footer></app-footer>
</div>


