<app-test-bar (message)="getMessage($event)"></app-test-bar> 

<div [ngStyle]="{'margin-left.rem': !sidebar? '0': '16'}" class="move">

  <app-header hasFilter=true hasSearchBar=true [searchBarContent]="defaultFilt? 'zona...': 'nombre...' " [arr]="defaultFilt? zones: barsAv" 
  [filterOp]="['zonas', 'nombre']" (filt)="receiveFilt($event)"></app-header>

  
  <div class="w-full" *ngIf="!loading">

   

        <div class="w-full flex flex-col items-center mb-20 mt-10">

        <div class="bar_card">


          <div class="rounded overflow-hidden border-2 shadow-lg   hover:border-solid hover:border-orange-500 hover:border-opacity-75   transition ease-in duration-200" 
           *ngFor="let item of barsAv | filter: filterPost: defaultFilt: zones"
           
           >
            <div (click)="detail(item._id)" class="bar_img"
            style="  background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative; "
                    [style.backgroundImage]="'url('+ item.main_image +')'">
            </div>
            <div (click)="detail(item._id)" class="px-6 py-4">
              <div class="font-bold text-xl md:text-2xl mb-2"> <h1>{{ item.name }} </h1> </div>
              <p class="text-gray-700 text-lg mb-1">
                {{ getZone(item.location.zone) }}
              
            </div>
        </div>
        </div>
        <div style=" font-size: medium;" 
        *ngIf="(barsAv | filter: filterPost: defaultFilt: zones)?.length==0"
        class="mt-32"
        >
          <div style="height: 22rem;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url(assets/images/barNotFound.jpeg);
          border-radius: 0.25rem;"
          >
          </div>
          <p >No se encontró el bar...</p>
        </div>
      </div>
    </div>
  

<button class="back_btn" (click)="goBack()">
  <img class="p-3" src="assets/images/goback.png" alt="" >
</button>
<app-footer></app-footer>
</div>


