<app-test-bar (message)="getMessage($event)"></app-test-bar> 

<div [ngStyle]="{'margin-left.rem': !sidebar? '0': '16'}" class="move">

  <app-admin-header></app-admin-header>
    <div *ngIf="loading">
      <app-loader></app-loader>
    </div>
    <div *ngIf="!loading && !updating" style="font-family: 'Open Sans', sans-serif;">
      <div
        class="h-20 w-full flex justify-center items-center"
        style="font-family: 'Open Sans', sans-serif;"
      >
        <div><h2 class="text-4xl">LISTA DE ZONAS</h2></div>
      </div>

      <div class="w-full  flex justify-center items-center h-full">
          <div class="w-2/3 md:3/4 lg:w-2/4 content-center">
            <div class="w-full flex justify-center mb-6">
                  <button
                    (click)="create()"
                    class="w-2/3 shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button"
                  >
                    Crear
                  </button>
            </div>
            <div class="w-full flex justify-center mb-6">
                  <button
                    (click)="goBack()"
                    class="w-2/3 shadow bg-orange-500 hover:bg-orange-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button"
                  >
                    Regresar
                  </button>
            </div>
          </div>
        </div>

      <div>
        <div
          *ngFor="let item of zones"
          class="w-full flex justify-center items-center h-full"
        >
          <div class="w-2/3 md:3/4 lg:w-3/5 content-center">
            <div class="sm:flex sm:items-center mb-6">
              
              <div class="w-full flex justify-center sm:justify-end lg:justify-center sm:w-2/5 sm:text-right">
                <label
                  class="block text-black-500 font-bold  mb-1 md:mb-0 pr-4"
                  for="inline-full-name"
                >
                {{ item.name }}
                  
                </label>
              </div>

              <div class="w-full sm:w-3/5">
                <div class="text-xl sm:text-lg md:text-xl flex space-x-2 justify-center sm:justify-end w-full">
                  <button
                    (click)="edit(item._id)"
                    class="w-2/5 lg:w-1/3 shadow bg-orange-500 hover:bg-orange-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button"
                  >
                    Editar
                  </button>
                  <button
                    *ngIf="item.available"
                    (click)="inhabilitate(item)"
                    class="w-2/5 lg:w-1/3 shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button"
                  >
                    Deshabilitar
                  </button>
                  <button
                    (click)="delete(item._id)"
                    class="hidden w-2/5 md:w-1/3 shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button"
                  >
                    Eliminar
                  </button>
                  <button
                    *ngIf="!item.available"
                    (click)="inhabilitate(item)"
                    class="w-2/5 lg:w-1/3 shadow bg-gray-500 hover:bg-gray-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button"
                  >
                    Habilitar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div *ngIf="!loading && updating">
        <app-uploading-loader [text]="'Guardando cambios...'"></app-uploading-loader>
      </div>
      <app-footer></app-footer>
    </div>
