
*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; 
    color:white;
}

.sidebar{
    position: fixed;
    // left:-16rem;
    width: 16rem;
    height: 100%;
    background-color: black;
    transition: all .5s ease;
    // overflow-y: scroll;
    // z-index: 5000;

    header {
        text-align: center;
        line-height: 6rem;
        user-select: none;
    }

    ul li{
        padding-bottom: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }

        img{
            padding: 0.5rem;
            transition: .4s;  
        }

        :hover{
            padding: 0 ;
        }
    }
}

label{
    position: fixed;
    z-index: 20;
}

#check{
    display: none;
}

label .btn-svg, label .cancel-svg{
    position: absolute;
    cursor: pointer;
    background-color: black;
    border-radius: 3px;
}

label .btn-svg{
    z-index: 6000;
    // left: 1rem;
    top: 1rem;
    color: orange;
    transition: all .5s ease;
}

label .cancel-svg{
    position: fixed;
    z-index: 6000;
    // left: -13rem;
    top: 1rem;
    color: orange;
    transition: all .5s ease;
}

@media (min-width: 640px){
    #barComputer{
        display: block;
    }
    #barPhone{
        display: none;
    }
}

@media (max-width: 640px){
    #barPhone{
        display: block;
    }
    #barComputer{
        display: none;
    }

    .sidebar{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.9);;
        transition: all .5s ease;
        z-index: 19;
        // overflow-y: scroll;

        header {
            text-align: center;
            line-height: 6rem;
            user-select: none;
        }

        ul li{
            padding-bottom: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }

            img{
                padding: 0.5rem;
                transition: .4s;  
            }

            :hover{
                padding: 0 ;
            }
        }
    }
    label{
        position: fixed;
        z-index: 20;
    }
    
    #check{
        display: none;
    }
    
    label #btn, label #cancel{
        position: fixed;
        cursor: pointer;
        background-color: black;
        border-radius: 3px;
    }
    
    label #btn{
        z-index: 91000;
        top: 1rem;
        color: orange;
        transition: all .5s ease;
    }
    
    label #cancel{
        position: fixed;
        z-index: 91000;
        top: 1rem;
        color: orange;
        transition: all .5s ease;
    }

}

// #check:checked ~ .sidebar{
//     left: 0;
// }

// #check:checked ~ label #btn{
//     left: 12rem;
    // opacity: 0;
    // pointer-events: none;
// }

// #check:checked ~ label #cancel{
//     left: 13rem;
// }

// .move{
//     transition: all .5s;
// }

// #check:checked ~ .move{
//     margin-left: 16rem;
// }
