<div class="flex w-full">
    <app-navbar></app-navbar>
    <div class="pl-64 w-full">
        <div class="w-full">
            <app-header></app-header>
            <div class="w-full">
                <div>
                    <div *ngIf="!loading" style="max-width: 90%"
                    class="my-6 p-3 pb-6 mt-12 bg-cover  m-auto self-center  shadow">
                        <div class="md:flex self-center py-8 px-8 sm:px-16 md:px-48">
                            <!-- <img class="h-full w-auto px-16 py-16" src="/src/assets/images/Mojito-bar.jpg" alt="mojito"> -->
                            <div class="bg-gray-400 h-64 w-64">.</div>
                            <div class="bg-gray-400 h-64 w-64">.</div>
                            <div class="pl-4 sm:pl-8 md:pl-16">
                                <div class="text-2xl pt-4 sm:pt-4 sm:text-3xl md:text-5xl font-medium">MOJITOS CLÁSICOS</div>
                                <div class="text-normal sm:text-3xl md:text-3xl pt-4">Ingredientes</div>
                                <div class="px-4 py-4">
                                    <!-- <div *ngFor="">{{ ingrediente }}</div> -->
                                    <div class="font-light">12-20 hojas de menta</div>
                                    <div class="font-light">1 limon</div>
                                    <div class="font-light">1 limon extra para decorar</div>
                                    <div class="font-light">2 shots de ron blanco</div>
                                    <div class="font-light">Soda</div>
                                    <div class="font-light">2 cucharaditas de azucar</div>
                                    <div class="font-light">Hielo picado</div>
                                </div>
                            </div>
                        </div>
                        <div class="px-8 sm:px-16 md:px-48">
                            <!-- <div>{{ receta }}</div> -->
                            <div class="font-light py-4">En un vaso grande, echamos la hierbabuena, con ramas incluídas, partiéndola con las manos, y reservamos una ramita que tenga hojas en la parte de arriba para decorar más tarde.</div>
                            <div class="font-light py-4">Añadimos las dos cucharadas de azúcar blanco o moreno claro (si vais a usar 7up o Sprite, sólo 1cucharada para que no quede demasiado dulce).</div>
                            <div class="font-light py-4">Antes de partir la lima, la presionamos ligeramente y rodamos contra la mesa para que se reblandezca por dentro. La partimos por la mitad y con la mano la exprimimos sobre el vaso para que suelte todo el jugo.</div>
                            <div class="font-light py-4">Usando una cuchara de madera a modo de mortero, “pisoteamos” los tres ingredientes para mezclarlos bien, pero sin pasarse para no destrozar las hojas.</div>
                            <div class="font-light py-4">Echamos hielo picado hasta la mitad del vaso.</div>
                            <div class="font-light py-4">Añadimos el ron y meclamos bien todo para que las hojas de menta se muevan del fondo y ocupen todo.</div>
                            <div class="font-light py-4">Echamos hielo hasta el borde y rellenamos el espacio sobrante con soda. Mezclamos bien.</div>
                            <div class="font-light py-4">Por último, decoramos con una ramita de menta, un gajo de lima y una pajita.</div>
                        </div>
                        <div class="flex justify-end pt-16 px-8 md:px-32 py-4 font-light">
                            Fuente: Drinkly
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
