<app-test-bar (message)="getMessage($event)"></app-test-bar> 

<div [ngStyle]="{'margin-left.rem': !sidebar? '0': '16'}" class="move">

  <app-admin-header></app-admin-header>
  <div *ngIf="loading">
    <app-loader></app-loader>
  </div>
    <div *ngIf="!loading">
    <div style="max-width: 90%"
    class="my-6 p-3 pb-6 mt-12 bg-cover  m-auto self-center  shadow">
        <div class="md:flex flex-wrap self-center pt-8 px-8 sm:px-16 md:px-48">
            <img class="object-contain sm:h-auto sm:max-w-3xl md:h-auto md:max-w-3xl pb-4 sm:px-16 md:px-16 sm:py-8 md:py-8" src="{{receta.pictures}}" alt="mojito">
            <div class="pl-4 sm:pl-8 md:pl-16">
                <div class="w-64 text-3xl pt-4 sm:pt-4 sm:text-3xl md:text-5xl font-medium">{{receta.name}}</div>
                <div class="text-normal sm:text-3xl md:text-3xl pt-4">Ingredientes</div>
                <div class="px-4 py-4">
                
                    <div *ngFor="let x of receta.ingredients">
                        <div class="font-light"> {{getIngredientName(x)}} </div>    
                    </div>
                </div>
                
            </div>
        </div>
        <div class="px-8 sm:px-16 md:px-48">
            <div class="font-light py-4">{{receta.description}}</div>
            <div class="text-normal sm:text-3xl md:text-3xl pt-4">Receta</div>
            <div class="font-light py-4">{{receta.recipe}}</div>
        </div>
        <div class="flex justify-end pt-16 px-8 md:px-32 py-4 font-light">
            Fuente: {{receta.owner.name}}
        </div>
    </div>
    </div>
    <div>

    </div>
    <app-footer></app-footer>
</div>
