
<app-test-bar (message)="getMessage($event)"></app-test-bar> 

<div id="container"
style="margin-left: 0;"
 [ngStyle]="{'margin-left.rem': !sidebar? '0': '16'}" class="move">

  <app-header></app-header>
 
  <div
  *ngIf = "!loading"
  style="max-width: 90%; font-family: 'Open Sans', sans-serif;"
    class="my-6 p-3 pb-6 mt-12 bg-cover  m-auto self-center  shadow"
  > 
    <span class="text-5xl text-black bold pr-6 pl-8">{{bar.name}}</span> 
    <span class="text-4xl text-black"> {{zone.name}}</span>

    <div class="sm:hidden">
      <img class="w-full h-full rounded flex-initial" src="{{bar.main_image}}" alt="main_image_bar">
    </div>

    <div id="ladilla" class="sm:grid sm:grid-cols-2 sm:gap-4 md:flex md:flex-wrap lg:flex-no-wrap md:flex-no-wrap md:xs md:pt-16">
      <div
      *ngFor="let x of images"
      class="md:w-1/3 md:px-2 overflow-hidden my-2"
      >
        <img
          class="w-full h-full rounded flex-initial"
          src="{{ x }}"
          alt="Sunset in the mountains"
        />
      </div>
    </div>

  <div class="mt-12 m-auto max-w-3xl text-center">
    "{{bar.description}}"


  </div>

  <div class="mt-12 m-auto max-w-3xl text-center">  
    <div class="text-3xl bold">RATING:</div>  
    {{bar.rating}}
  </div>

  <div class="mt-12 m-auto max-w-3xl text-center">  
  <div class="text-3xl bold">HORAS DE TRABAJO: </div>  
  {{bar.working_hours}}
  </div>

  <div class="mt-12 m-auto max-w-3xl text-center">  
    <div class="text-3xl bold">DIRECCIÓN: </div>  
    {{bar.address}}
  </div>

  <div class="mt-12 m-auto max-w-3xl text-center">  
    <div class="text-3xl bold">ECHALE UN VISTAZO A SU MENU: </div>  
    <div *ngFor="let d of bar.menu" class="pt-2">{{d.name}}: {{d.description}} </div>
  </div>

  <div class="mt-12 m-auto max-w-3xl text-center">  
    <div class="text-3xl bold">CONTÁCTALOS Y SÍGUELOS: </div> 

    <div class="mt-5 m-auto max-w-3xl text-center">  
      <div class="text-1xl bold">Teléfonos: </div>  
        <div *ngFor="let p of bar.phone" class="pt-2">{{p}}</div>
    </div>

      <div class="flex flex-initial space-x-6 justify-center mt-8">

        <a [href]="bar.twitter" appExternalUrl *ngIf= "bar.twitter!=''">
          <img class="w-12 cursor-pointer rounded"
          src="../../../../assets/images/tw4.png"
          alt="Sunset in the mountains">
        </a>

        <a [href]="bar.instagram" appExternalUrl *ngIf= "bar.instagram!=''">
          <img class="w-12 cursor-pointer rounded"
          src="../../../../assets/images/instagram.png"
          alt="Sunset in the mountains">
        </a>

        <a [href]="bar.facebook" appExternalUrl *ngIf= "bar.facebook!=''">
          <img class="w-12 cursor-pointer rounded"
          src="../../../../assets/images/fb.png"
          alt="Sunset in the mountains">
        </a>

        <a href="{{'mailto:'+bar.email}}" appExternalUrl *ngIf= "bar.email!=''">    
          <img class="w-12 cursor-pointer rounded border-gray-400 border-solid border"
          src="../../../../assets/images/gm2.png"
          alt="Sunset in the mountains">
        </a>

      </div>
  </div>

  <div class="pt-6 sm:hidden">
    
    <div class="grid grid-cols-2 gap-4">
      <div
      *ngFor="let x of images"
      class="overflow-hidden my-2"
      >
        <img
          class="w-full h-full rounded flex-initial"
          src="{{ x }}"
          alt="Sunset in the mountains"
        />
      </div>
    </div>
  </div>
</div>  
<button class="back_btn" (click)="goBack()">
      <img class="p-3" src="assets/images/goback.png" alt="" >
    </button>
<app-footer></app-footer>
</div>





