@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/Light/OpenSans-Light.woff2') format('woff2'),
        url('assets/fonts/Light/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/Bold/OpenSans-Bold.woff2') format('woff2'),
        url('assets/fonts/Bold/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/Regular/OpenSans.woff2') format('woff2'),
        url('assets/fonts/Regular/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/Extrabold/OpenSans-Extrabold.woff2') format('woff2'),
        url('assets/fonts/Extrabold/OpenSans-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/Semibold/OpenSans-Semibold.woff2') format('woff2'),
        url('assets/fonts/Semibold/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Extrabold/Roboto-Black.woff2') format('woff2'),
        url('assets/fonts/Extrabold/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Bold/Roboto-Bold.woff2') format('woff2'),
        url('assets/fonts/Bold/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Semibold/Roboto-Medium.woff2') format('woff2'),
        url('assets/fonts/Semibold/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Regular/Roboto-Regular.woff2') format('woff2'),
        url('assets/fonts/Regular/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Light/Roboto-Light.woff2') format('woff2'),
        url('assets/fonts/Light/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
